body{
  background-color: #78e08f;
  padding: auto;
}

h1{
  text-align: center;
  margin: 20px 0px;
}

p, label, ul{
  margin: 2px;
  padding: 0;
}

.description{
  text-align: center;
  grid-area: 1/1/2/3;
}

textarea{
  width: 80%;
}

.endcomment{
  text-align: center;
  grid-area: 9/1/10/3;
}

.submit{
  grid-area: 10/1/11/3;
  text-align: center;
}

.q{
  justify-self: end;
  text-align: right;
}

.a{
  justify-self: start;
  align-self: center;
}

.main-style{
  width: 80vw;
  margin: auto;
  padding: 30px;
  background-color: #FFF;

  /* grid formatting */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px 30px;
}

.footer-style{
  width: 100%;
  margin: 10px 0px;
  text-align: center;
  background-color: ;
  opacity: 0.9;
}

@media screen and (min-width:470px) and (max-width:650px) {
  .main-style{
    width: 95vw;
    grid-template-columns: 0.6fr 1.4fr;
  }

  .text-input{
    width: 30vw;
  }
}

@media screen and (min-width: 280px) and (max-width:470px) {
  .main-style{
    width: 95vw;
    grid-template-columns: 0.4fr 1.6fr;
    grid-gap: 15px 20px;
  }

  .text-input{
    width: 40vw;
  }
}
